<div class="post-share text-center">
    <p class="light small">
        Share this post
    </p>
    <ul class="social-mini">
        <li>
            <a href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="分享到Twitter" itemprop="Twitter">
                <i class="icon-twitter"></i>
            </a>
        </li>
        <li>
            <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="分享到Facebook" itemprop="Facebook">
                <i class="icon-facebook"></i>
            </a>
        </li>
        <li>
            <!--
            <a href="javascript:(function(){window.open('http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href)+'&source=bookmark','_blank','width=450,height=400');})()" data-toggle="tooltip" title="" itemprop="Weibo" data-original-title="分享到新浪微博">
                <i class="icon-weibo"></i>
            </a>
            -->
            <wb:share-button appkey="6Rh3hG" addition="simple" type="icon" ralateUid="2270246271" data-toggle="tooltip" title="" itemprop="Weibo" data-original-title="分享到新浪微博"></wb:share-button>
                <i class="icon-weibo"></i>
    
        </li>
        <li>
            <!-- Baidu Share BEGIN -->
            <div class="bdsharebuttonbox">
                <a href="#" class="bds_more" data-cmd="more"></a>
            </div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{"tsina":"4254064204"},"bdText":"Westside","bdMini":"2","bdMiniList":["mshare","qzone","bdysc","weixin","renren","tqq","tieba","douban","tsohu","sqq","hi","huaban","duitang","fx","youdao","mail","wealink","linkedin","copy","print"],"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{},"image":{"viewList":[],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":[]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            <!-- Baidu Share END -->
        </li>
    </ul>
    </ul>
</div>